.container{
    display: flex;
    justify-content: center;
    margin: 5rem;
    align-items: center;
  }

 
  .table-header {
    background: rgba(249, 246, 246, 0.04);
    border: none;
    padding: 13px;
    line-height: 48px;
    width: 100%;
    color: #21334f;
    font-size: 14px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
  }

  .table-row {
    color: #21334f;
    font-size: 16px;
    line-height: 39px;
    font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
    border-bottom: 1px solid rgb(214, 213, 213);
    position: relative;
  }
.styled-table{
    border-collapse: collapse;
    width: 80%;
    align-content: center;
}
.img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

td {
    align-items: center;
    text-align: center;
    margin-top: 0;
    padding: 0
    
}

.styled-table tbody{
    background: #fff;
    text-align: center;
    border: #474a47;
}
.modalClass {
    display: none
}
.btn{
    padding: 0.4rem 1rem;
    background-color: white;
    border: 2px solid #ced6ce;
    border-radius: 5px;
}
@media only screen and (max-width: 800px) {
  .container {
    margin: 0;
  }
}