.container{
    display: flex;
    flex-direction: column;
    margin: 5rem;
}
.heading{
    display: flex;
    align-items: center;
}

.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .table td, .table th {
    border-top: 1px solid #fff;
    border-bottom: 1px solid rgb(214, 206, 206);
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-collapse: collapse;
    padding: 8px;
  }
  
  .table tr:nth-child(even){
    border: 1px solid rgb(214, 206, 206);
}
  
  .table tr:hover {background-color: #ddd;}
  
  .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #fff;
    color: rgb(9, 8, 8);
  }
  .button{
    margin: 0.2rem;
    border: 1px solid rgb(139, 132, 132);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    text-align: left;
    background-color: #fff;
    color: rgb(9, 8, 8);
  }
  .image{
    width: 30px;
    height: 30px;
    border-radius: 20px;
   
  }
  @media only screen and (max-width: 800px) {
    .container {
      margin: 2rem 0rem 2rem 0rem;
    }
    .table {
        width: 30%;
    }
    .image{
        display: none;
    }
    .table td, .table th {
        padding: 2px;
        font-size: small;
      }
       
  }